<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Race</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:inline="javascript">

        var stompClient = null;
        var subscribe = "/topic/" + [[${raceId}]];
        var send = "/app/" + [[${raceId}]];
        var startTime
        var startedTyping = false
        var correctCharacters = 0
        //var quoteDisplayElement = document.getElementById('text')
        //var quoteInputElement = document.getElementById('textinput')

        connect()
        renderNewQuote()

        $(document).ready(function(){
            document.getElementById('textinput').addEventListener('input', () => {
                const arrayQuote = document.getElementById('text').querySelectorAll('span')
                const arrayValue = document.getElementById('textinput').value.split('')

                let correct = true
                correctCharacters = 0
                arrayQuote.forEach((characterSpan, index) => {
                    if(startedTyping === false){
                        console.log("haha")
                        startSpeedCount()
                    }
                    startedTyping = true
                    const character = arrayValue[index]
                    if(character == null){
                        characterSpan.classList.remove('correct');
                        characterSpan.classList.remove('incorrect');
                        correct = false
                    } else if(characterSpan.innerText === ''){
                        if(character === ' '){
                            characterSpan.classList.add('correct');
                            characterSpan.classList.remove('incorrect');
                        } else {
                            characterSpan.classList.add('incorrect');
                            characterSpan.classList.remove('correct');
                            correct = false;
                        }
                    } else if (character === characterSpan.innerText) {
                        correctCharacters++
                        characterSpan.classList.add('correct');
                        characterSpan.classList.remove('incorrect');
                    } else {
                        characterSpan.classList.add('incorrect');
                        characterSpan.classList.remove('correct');
                        correct = false
                    }
                })
                if (correct) {
                    renderNewQuote();
                }
            })
        })


        function startSpeedCount(){
            startTime = new Date()
            setInterval(() => {
                speed = document.getElementById('speed').innerText = Math.floor((correctCharacters/5) / (getTimerTime()/60))
            }, 1000)
        }

        function getTimerTime() {
            return Math.floor((new Date() - startTime) / 1000);
        }

        function connect() {
            const socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function () {
                stompClient.subscribe(subscribe, function (raceState) {
                    showGreeting(JSON.parse(raceState.body).lastPlayer);
                });
            });
        }

        function showGreeting(name){
            console.log(name + " joined server!")

            const player  = document.createElement('div')
            const carImg = document.createElement('img')
            const nameSpan = document.createElement('span')
            const speedSpan = document.createElement('span')

            player.classList.add('player');

            carImg.src = './red-car.png'
            carImg.classList.add('car')

            nameSpan.innerText = name
            speedSpan.innerText = ''

            player.appendChild(carImg)
            player.appendChild(nameSpan)
            player.appendChild(speedSpan)

            document.getElementById('raceStatus').append(player)
        }

        function getQuote() {
            return fetch('http://api.quotable.io/random')
                .then(response => response.json())
                .then(data => data.content)
        }

        async function renderNewQuote() {
            let quote = await getQuote();
            //quote = 'Hello motherfuckers'
            document.getElementById('text').innerHTML = '';
            quote.split('').forEach(character => {
                const characterSpan = document.createElement('span')
                characterSpan.innerText = character
                document.getElementById('text').appendChild(characterSpan)
            })
            startedTyping = false
            document.getElementById('textinput').value = null;
        }


        function joinGame(){
            document.getElementById('joingame').remove();
            const name = document.getElementById('name').value;
            document.getElementById('name').remove();
            const userState = JSON.stringify({"method": "JOIN", "userId": 1, "name": name});
            stompClient.send(send , {}, userState);
        }

    </script>
    <link rel="stylesheet" th:href="@{/css/game.css}">

</head>
<body>

    <div class="connect">
        <p>Race link: </p>
        <p th:text="${raceLink}"></p>

    <input type="text" id="name">

    <button id='joingame' onclick="joinGame()">
        Join game
    </button>

    </div>

    <div id="speed">

    </div>

    <div class="race-status" id="raceStatus">

    </div>

    <div class="container">
        <div id="text">

        </div>

        <textarea id="textinput" cols="30" rows="10" autofocus></textarea>
    </div>

</body>
</html>